// 颜色定义规范
$color-white = #ffffff
$color-background = #F5F7FB
$color-line = #EFEFEF
$color-big-background = #FAFAFA
$color-lineCC = #cccccc
$color-orgin-theme = #ef705d
$color-green-theme = #5ee490

$color-menu-select = #28282e
$color-menu-background = #32323a
$color-menu-line = #3a3a41

$color-text = #333
$color-text-icon = #666
$color-text-little = #9D9D9D
$color-text99 = #999999

$color-icon-line = #EFEFEF

$color-nomal = #EF705D
$color-hover = #FC9485
$color-disable = rgba(239,112,93,.8)
$color-active = #EF705D

//字体定义规范
$font-size-small10 = 10px
$font-size-small12 = 12px
$font-size-medium14 = 14px
$font-size-medium16 = 16px
$font-size-large18 = 18px
$font-size-large20 = 20px
$font-size-large22 = 22px
$font-money-size46 = 46px

// 字体样式
$fontFamilyRegular = 'PingFangSC-Regular'
$fontFamilyLight = 'PingFangSC-Light'
$fontFamilyMeddle = 'PingFangSC-Medium'